#### Preseeding only locale sets language, country and locale.
d-i debian-installer/locale string en_US.UTF-8
d-i debian-installer/country string BR
d-i debian-installer/language string en

#### Keyboard selection.
# d-i keyboard-configuration/xkb-keymap select us
d-i keyboard-configuration/xkb-keymap select br

#### Account setup
### skip creation
d-i passwd/root-login boolean false
# d-i passwd/make-user boolean false

### Root password, either in clear text
# d-i passwd/root-password password r00tme
# d-i passwd/root-password-again password r00tme

### To create a normal user account.
d-i passwd/user-fullname string Vagrant User
d-i passwd/username string vagrant

#### Normal user's password, either in clear text
d-i passwd/user-password password vagrant
d-i passwd/user-password-again password vagrant

#### Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string America/Sao_Paulo
d-i clock-setup/ntp boolean true
d-i clock-setup/ntp-server string a.ntp.br

#### Partitioning
d-i partman-auto/method string regular
d-i partman-md/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

#### Package selection
# tasksel tasksel/first multiselect standard, web-server, kde-desktop
d-i pkgsel/run_tasksel boolean false
# d-i pkgsel/include string build-essential openssh-server vim htop zsh net-tools
d-i pkgsel/include string openssh-server wget vim htop zsh net-tools
#d-i pkgsel/upgrade select full-upgrade

#### Boot loader installation
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string default

#### Finishing up the installation
d-i finish-install/reboot_in_progress note

#### Advanced options
### Running custom commands during the installation
d-i preseed/late_command string \
    echo 'vagrant ALL=(ALL) NOPASSWD: ALL' > /target/etc/sudoers.d/vagrant ; \
    in-target chmod 440 /etc/sudoers.d/vagrant ;